fuzzywuzzy==0.18.0
gTTS==2.3.2
langchain==0.0.251
langdetect==1.0.9
loguru==0.7.0
num2words==0.5.12
numpy==1.23.5
openai==0.27.8
pocketsphinx==5.0.2
pvporcupine==2.2.1
PyAudio==0.2.13
pycountry==22.3.5
pydantic==1.10.9
python-dotenv==1.0.0
python_dateutil==2.8.2
python-ffmpeg==2.0.4
pyttsx3==2.90
pyusb==1.2.1
PyYAML==6.0.1
Requests==2.31.0
sounddevice==0.4.6
soundfile==0.12.1
spotipy==2.23.0
text2numde==1.0
tinydb==4.8.0
torch==2.0.1
transformers==4.31.0
vosk==0.3.45
wikipedia==1.4.0
